@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    display: grid;
    place-items: center;
    color: hsl(30, 10%, 34%);

}

.container{
    /* margin: 3rem, 5rem; */
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: auto;
    border-radius: 1rem;
    width: 80vw;
    overflow: hidden;
    font-size: 0.8rem;

    padding: 2rem;
}

.omelette{
    border-radius: 1rem;
    overflow: hidden;
    /* padding-bottom: 1rem; */
    margin: auto;
    margin-bottom: 1.5rem;
    max-width: 60%;
    position: relative;
    object-fit: fill;
}

.mainHeader{
    text-transform: capitalize;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: black;
    font-family: "Young Serif", sans-serif;
}

.para{
    margin-bottom: 1rem;
    color: hsl(30, 10%, 34%);
}

.prepContainer{
    background-color: hsl(330, 100%, 98%);
    padding: 1rem;
    margin-bottom: 1rem;
}

.prep-time{
    color: hsl(332, 51%, 32%);
    padding-bottom: 1rem;
}

.prep-items{
    /* padding-left: 1rem; */
    margin-left: 1rem;
    list-style-position: inside;
}

ul li{
    margin-bottom: 0.75rem;
}

.subHeaders{
    letter-spacing: 1px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 1rem;
    font-family: "Young Serif", sans-serif;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.li-container{
    margin-left: 1rem;
}

.inCont{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

ol li{
    line-height: 1.5rem;
    padding-left: 1rem;
    margin-left: 1rem;
}

.table-container{
    max-width: 100%;
    /* padding-right: 1rem; */
}

td{
    padding: 0.5rem 5rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    text-align: left;
    max-width: 50%;
}

td:first-child{
    text-align: left;
    max-width: 100%;
}

td:last-child{
    text-align: right;
    max-width: 100%;
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

tr:last-child td{
    border-bottom: none;
}